---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Programs from '../components/Programs.astro';
import LeadForm from '../components/LeadForm.astro';
import BottomNav from '../components/BottomNav.astro';
---

<Base>
  <Header />
  <main>
    <Hero />
    <Programs />
    <LeadForm />
  </main>
  <BottomNav />
</Base>
